<header class="header">
    <div class="container">
        <div class="header-content">
            <div class="logo">
                <a href="/">
                    <span class="logo-icon">📚</span>
                    <span class="logo-text">Sistema de Tutories</span>
                </a>
            </div>
            
            <nav class="nav">
                <ul>
                    <li><a href="/">Inici</a></li>
<% if (typeof usuari !== 'undefined' && usuari) { %>                        <li><a href="/logout">Tancar sessió</a></li>
                    <% } %>
                </ul>
            </nav>
        </div>
    </div>
</header>